.settings {
  background: #FCF6E3;
  color: #3F3D37;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  padding: 24px;
  text-align: left;
  overflow: auto;
  cursor: initial;

  &__launch {
    margin-top: 48px;
  }

  select, option, button {
    font-size: 24px;
  }
}
