.settings {
  background: #FCF6E3;
  color: #3F3D37;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  padding: 24px;
  text-align: left;

  &__launch {
    margin-top: 48px;
  }
}
